#navContainer {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  align-items: center;
  background-color: white;
}

#outerContainer {
  padding-inline: 100px;

}

.iconContainer {
  display: flex;
  align-items: center;
}

#greenStrip {
  background-color: #89c74a;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 9px;
  padding-inline: 100px;
}

#title {
  font-weight: 700;
  font-size: 22px;
}

#divider {
  margin-left: 16px;
  margin-right: 16px
}

#email {
  font-size: 14px;
  font-weight: 600;
}

#mobileNumber {
  font-size: 14px;
  font-weight: 600;
}

#contactsContainer {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  margin: auto;
}

.menuItem {
  margin: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.menuItem:hover {
  color: #89c74a
}

#cartIcon:hover {
  color: #89c74a
}

#burgerCheckbox {
  display: none;
}

#burgerCheckbox:checked~#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#burgerCheckbox:checked~#logo {
  display: none
}

#burgerCheckbox:checked~#burgerIcon {
  display: none
}

#inMenuBurgerIcon {
  display: none;
}

#burgerCheckbox:checked~#menu #inMenuBurgerIcon {
  display: block
}

#burgerCheckbox:checked~#horizantalCartIcon {
  display: block;
  background-color: red;
}

#searchBox {
  width: 64%;
  border: 1px solid #EDEDC9;
  font-size: 17px;
  height: 45px;
  padding-inline: 25px;
  color: #808088
}

#searchBtn {
  height: 45px;
  padding: 3px;
  margin: 0px;
  width: 5%;
  min-width: 40px;
  background-color: #89c74a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: orange;
}

#searchDropdown {
  border: 1px solid #EDEDC9;
  font-size: 17px;
  width: 30%;
  height: 49px;
  padding-inline: 25px;
  color: #808088;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  margin: 0px;
}

#inputBoxesContainer {
  display: flex
}


#socialIcons {
  display: flex;
  justify-content: center;
}

#burgerIcon {
  display: none;
  cursor: pointer;
}

#horizantalCartIcon {
  display: none;
}

@media only screen and (max-width: 825px) {
  #menu {
    display: none;
  }

  #outerContainer {
    padding-inline: 10px;
  }

  #cartIcon {
    display: none;
  }

  #horizantalCartIcon {
    display: inline;
  }

  #burgerIcon {
    display: inline;
  }

  #navContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

}


@media only screen and (max-width: 750px) {
  #searchDropdown {
    display: none;
  }

  #searchBox {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  #greenStrip {
    display: block;
  }

  #contactsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #searchDropdown {
    display: none;
  }

  #searchBox {
    width: 95%;
  }
}
